@charset "UTF-8";

*{ 
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 15px;
    background-image: url(images/f10f4eecbafe16d7a2b50a8e06d121f8.gif);
    background-attachment: fixed;
    background-position: center center;
}

header.menu{
    word-spacing: 1vw;
    padding-top: 2vh;
    text-align: center;
}

header.menu > a > h1{
    display: inline;
}

.link{
    text-decoration: none;
    color: rgb(172, 172, 172);
}

.link:hover{
    transition: 0.4s;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.center-screen{
    color: rgb(172, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
}

a.linkedin_meio{
    color: rgb(172, 172, 172);
    text-decoration: none;
}

a.linkedin_meio:hover{
    transition: 0.4s;
    color: white;
    text-decoration: underline;
    font-size: 40px;
}

.MeetMeContent{
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.about{
    padding-top: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
    background-color: rgba(255, 255, 255, 0.486);
}