@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    background-image: url(images/f10f4eecbafe16d7a2b50a8e06d121f8.gif);
    background-position: center center;
    background-attachment: fixed;
}

header.menu > h1 > p{
    font-size: 2.5vh;
    display: inline;
    color: rgb(255, 255, 255);
}

header.menu{
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 2vw;
    text-align: center;
    padding-top: 2vh;
}

p#glow:hover{
    transition: 0.2s;
    color: black;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 40px;
    background-color: white;
}

h1.port{
    text-align: center;
    padding-top: 40vh;
    color: white;
}

section.meetme{
    padding: 1cm;
    margin-top: 20cm;
    margin-bottom: 10cm;
    height: fit-content;
    background-color: rgba(150, 146, 146, 0.877);
}

section.meetme > p{
    color: rgb(0, 0, 0);
}

p.textcont{
    text-align: center;
    font-size: 1vw;
    color: rgb(0, 0, 0);
}

p.txtme{
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

p.hi{
    padding-left: 2vw;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section.skills{
    padding: 1cm;
    margin-top: 20cm;
    margin-bottom: 10cm;
    height: fit-content;
    background-color: rgba(150, 146, 146, 0.877);
}

section.skills > p{
    color: rgb(0, 0, 0);
}


p.msk{
    padding-left: 1vw;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p.ctc{
    padding-left: 1vw;
    font-size: 3vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a.ctt{
    color: white;
    text-decoration: none;
}

a.ctt:hover{
    text-decoration: underline;
}